@import 'node_modules/hds-design-tokens/lib/all.scss';

.resource-details-section {
  border-bottom: 1px solid var(--hauki-content-border-color);
}

.resource-info-title-wrapper {
  align-items: center;
  display: flex;
}

.resource-info-title-add-on {
  margin-left: auto;
}

.resource-info-title {
  font-size: var(--fontsize-heading-s);
  margin: 0;
  transition: font-size 300ms;
}

@media screen and (min-width: $breakpoint-m) {
  .resource-info-title {
    font-size: var(--fontsize-heading-l);
  }

  .resource-info-title--on-top {
    font-size: var(--fontsize-heading-s);
  }
}

.resource-copy-date-periods {
  margin: var(--spacing-m) 0;
}

.resource-copy-modified-text {
  margin-top: var(--spacing-s);
  display: block;
}

.resource-info-subtitle {
  color: var(--color-coat-of-arms);
  font-size: $fontsize-heading-m;
  margin-top: $spacing-2-xs;
}

.resource-info-address {
  display: inline-block;
  font-style: normal;
}

.resource-description-text {
  white-space: pre-wrap;
}

.related-resource-description-text {
  margin-top: 0;
}

.related-resource-list-item {
  margin-top: $spacing-m;
}

.child-resources-title {
  color: var(--color-coat-of-arms);
  margin: $spacing-l 0 $spacing-s;
}
