@import 'node_modules/hds-design-tokens/lib/all.scss';

.day-option {
  align-items: center;
  border-color: var(--color-coat-of-arms);
  border: $spacing-4-xs solid;
  box-sizing: border-box;
  color: var(--color-coat-of-arms);
  display: flex;
  height: 44px;
  justify-content: center;
  margin-top: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

label.day-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 0;

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    width: 1em;
    height: 1em;
    z-index: 10000;
  }

  & input[type='checkbox']:checked ~ .day-option {
    background-color: var(--color-coat-of-arms);
    color: white;
    transition-property: background-color, border-color, color;
    transition-duration: 85ms;
    transition-timing-function: ease-out;
  }

  & input[type='checkbox']:checked ~ .day-option:hover {
    background-color: var(--color-coat-of-arms-dark);
    border-color: var(--color-coat-of-arms-dark);
  }

  & input[type='checkbox']:focus ~ .day-option {
    outline: blue solid 2px;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}
