@import 'node_modules/hds-design-tokens/lib/all.scss';

.opening-hours-preview-table {
  border-spacing: 0;
  margin-bottom: 1.5rem;
  padding: 3px 0;
  table-layout: fixed;
}

.opening-hours-preview-table:last-child {
  margin-bottom: 0;
}

.opening-hours-preview-table__caption {
  font-size: $fontsize-heading-xs;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.opening-hours-preview-table__header {
  text-align: left;
}

.opening-hours-preview-table__day-column {
  width: 60px;
}

.opening-hours-preview-table__time-span-column {
  padding: 0 10px;
}

td {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.75;
}

td::first-letter {
  text-transform: capitalize;
}

.opening-hours-preview-time-span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.opening-hours-preview-time-span__time {
  flex: 0 0 48px;
  letter-spacing: 1px;
  text-align: center;
}

.time-span-rule-label {
  font-weight: bold;
}

.opening-hours-preview-table td,
.opening-hours-preview-table th {
  padding: 5px;
}

.opening-hours-preview-table td:first-child,
.opening-hours-preview-table th:first-child {
  padding-left: 0;
}

.opening-hours-preview-table td:last-child,
.opening-hours-preview-table th:last-child {
  padding-right: 0;
}

.time-span-row--even {
  background: transparent;
}

.time-span-row--odd {
  background: #fafafb;
}

.opening-hours-preview-time-span-container {
  display: grid;
  grid-template-columns: 100px auto 1fr;
  gap: 5px;
}
