#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!public*
!scripts*
!src*
!nginx*
!k6*

#################################################
# Whitelisted files
#################################################
!.env
!package.json
!yarn.lock
!tsconfig.json
!LICENSE
