@import 'node_modules/hds-design-tokens/lib/all.scss';

.weekdays {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
}

.opening-hours-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: $spacing-layout-xl;
}

.opening-hours-form__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: -$spacing-s;
  margin-right: -$spacing-s;
}

@media screen and (min-width: $breakpoint-m) {
  .opening-hours-form__content {
    margin-left: 0;
    margin-right: 0;
  }
}

.opening-hour-forms-required-help-text {
  font-size: 1rem;
  margin: 0;
  padding: 1rem 0 0 0;
}

.asterisk {
  font-weight: bold;
}

.opening-hours-form__fields {
  display: flex;
  gap: 1.5rem;
}

.opening-hours-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}

.sort-weekdays-container {
  background: #fff;
}

.opening-hours-form__aside {
  display: none;
}

@media screen and (min-width: $breakpoint-l) {
  .opening-hours-form__aside {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: sticky;
    top: 70px;
  }
}

@media screen and (min-width: $breakpoint-l) {
  .mobile-preview-container {
    display: none;
  }
}

.required-fields-text {
  margin: 0;
}
