.opening-hours-preview-mobile {
  border-bottom: 1px solid var(--hauki-content-border-color);
  left: 0;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 100%;
  transition: max-height 300ms;
}

.opening-hours-preview-mobile--open {
  max-height: 70vh;
}

.opening-hours-preview-mobile--closed {
  max-height: 0;
}

.opening-hours-preview-mobile-toggle {
  color: #000;
  text-decoration: none;
}
