.opening-hours-preview-container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap: 25px;
}

.opening-hours-preview-table-container {
  background: #fff;
  padding: 10px;
}

.opening-hours-preview-table {
  table-layout: fixed;
  min-width: 100%;
}

.opening-hours-preview-table__caption {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: left;
}

.opening-hours-preview-table__header {
  text-align: left;
}

.opening-hours-preview-table__day-column {
  width: 60px;
}

.opening-hours-preview-table__time-span-column {
  padding: 0 10px;
  width: 140px;
}

td {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.75;
}

td::first-letter {
  text-transform: capitalize;
}

.opening-hours-preview-time-span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.opening-hours-preview-time-span__time {
  flex: 0 0 48px;
  letter-spacing: 1px;
  text-align: center;
}

.time-span-rule-label {
  font-weight: bold;
}

.opening-hours-preview-title {
  margin-bottom: 0;
  margin-left: 10px;
}
