@import 'node_modules/hds-design-tokens/lib/all.scss';

.resource-title {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  padding: 1rem;
  position: sticky;
  right: 0;
  top: 0;
  transition: padding 300ms;
  z-index: 4;
}

@media screen and (min-width: $breakpoint-m) {
  .resource-title {
    margin: -1.5rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: $breakpoint-l) {
  .resource-title {
    background: transparent;
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem 0 0 0;
  }

  .resource-title--on-top {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.resource-title--on-top {
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(212, 212, 212, 0.2);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.resource-info-title {
  font-size: var(--fontsize-heading-s);
  margin: 0;
}

@media screen and (min-width: $breakpoint-m) {
  .resource-info-title {
    font-size: var(--fontsize-heading-l);
  }
}

@media screen and (min-width: $breakpoint-l) {
  .resource-info-title {
    transition: font-size 300ms;
  }

  .resource-info-title--on-top {
    font-size: var(--fontsize-heading-s);
  }
}
