@import '~hds-design-tokens/lib/all.scss';

// The main's content aligns with the HDS navigation's content:
// https://github.com/City-of-Helsinki/helsinki-design-system/blob/master/packages/react/src/components/navigation/Navigation.module.css

.main,
.main-container {
  background-color: var(--hauki-content-background-color);
}

.main-container {
  box-sizing: border-box;
  line-height: var(--lineheight-l);
  margin: 0 auto;
  padding: $spacing-s;
  width: 100%;
}

.section {
  & + & {
    margin-top: $spacing-5-xl;
  }
}

@media screen and (min-width: $breakpoint-m) {
  .main-container {
    padding: $spacing-m;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .main-container {
    max-width: $container-width-xl;
    padding-left: 0;
    padding-right: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.card {
  background: #fff;
  padding: $spacing-s;
}

@media screen and (min-width: $breakpoint-m) {
  .card {
    padding: $spacing-m;
  }
}

.range-divider {
  margin-top: 1.5rem;
}

.opacity-0 {
  opacity: 0;
}
