@import 'node_modules/hds-design-tokens/lib/all.scss';

.holidays-page-title {
  display: flex;
  align-items: center;
  font-size: $fontsize-body-m;
  flex-wrap: wrap;
  gap: $spacing-s $spacing-l;

  .upcoming-holidays-divider {
    display: none;
  }

  @media screen and (min-width: $breakpoint-l) {
    .upcoming-holidays-divider {
      display: revert;
    }
  }
}

.holidays-list {
  padding: 0;
}

.holidays-list-item {
  align-items: flex-start;
  display: flex;
  gap: $spacing-l $spacing-m;
  margin-top: $spacing-m !important;
  flex-wrap: wrap;
}

.holiday-list-checkbox {
  width: 25ch;
  white-space: nowrap;
}

.holiday-form-container {
  display: flex;
  gap: $spacing-l $spacing-2-xl;
  flex: 1;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.holiday-form-actions {
  margin: $spacing-s 0 $spacing-3-xl;
}

.exception-opening-hours-time-spans + .holiday-form-actions {
  margin-top: $spacing-l;
}
