@import 'node_modules/hds-design-tokens/lib/all.scss';

.holidays-page-title {
  display: flex;
  align-items: center;
  font-size: $fontsize-body-m;
  flex-wrap: wrap;
  gap: $spacing-s $spacing-l;
}

.holidays-list-item {
  align-items: flex-start;
  display: flex;
  gap: 0 $spacing-2-xs;
  flex-wrap: wrap;
}

.holidays-list {
  margin: 0;
  padding: 0;

  .holidays-list-item:nth-child(even) {
    background-color: $color-silver;
  }
}

.holiday-form-container {
  display: flex;
  gap: $spacing-l $spacing-2-xl;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
}

@media screen and (min-width: $breakpoint-l) {
  .holiday-form-container {
    flex-basis: auto;
  }
}

.holiday-form-actions {
  display: flex;
  gap: $spacing-s;
  margin: $spacing-s 0 $spacing-3-xl;
}

.exception-opening-hours-time-spans + .holiday-form-actions {
  margin-top: $spacing-l;
}

.edit-holiday-button {
  color: $color-coat-of-arms;
}

.holiday-column {
  flex: 0 0 25ch;
  white-space: nowrap;
}

.holidays-list-item-column {
  display: flex;
  gap: $spacing-s;
  padding: $spacing-s $spacing-s;
}

.holiday-list-header {
  background-color: $color-coat-of-arms;
  color: $color-white;
  display: flex;

  h3 {
    margin: 0;
  }
}
