.opening-hours-preview-container {
  align-self: flex-start;
  background: #fff;
  flex: 0 0 400px;
  justify-self: flex-start;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.opening-hours-preview-grid {
  display: grid;
  gap: 0px 30px;
  grid-template-columns: 120px 140px 1fr;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.75;

  &.time-span-preview-description {
    font-family: HelsinkiGrotesk-Regular, Arial, sans-serif;
  }
}

.opening-hours-preview-time-span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.opening-hours-preview-time-span__time {
  flex: 0 0 48px;
  letter-spacing: 1px;
  text-align: center;
}

.alternating-time-span-label {
  font-weight: bold;
}
