.opening-hours-preview-container {
  align-self: flex-start;
  background: #fff;
  flex: 0 0 400px;
  justify-self: flex-start;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.opening-hours-preview-table {
  width: 100%;
}

.opening-hours-preview-table__caption {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.opening-hours-preview-table__header {
  text-align: left;
}

.opening-hours-preview-table__day-column {
  width: 120px;
}

.opening-hours-preview-table__time-span-column {
  padding: 0 10px;
  width: 140px;
}

td {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.75;
}

td::first-letter {
  text-transform: capitalize;
}

.opening-hours-preview-time-span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.opening-hours-preview-time-span__time {
  flex: 0 0 48px;
  letter-spacing: 1px;
  text-align: center;
}

.alternating-time-span-label {
  font-weight: bold;
}
