@import 'node_modules/hds-design-tokens/lib/all.scss';

.opening-hours-preview-container {
  align-self: flex-start;
  background: #fff;
  flex: 0 0 400px;
  justify-self: flex-start;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.time-span-row {
  display: grid;
  gap: 30px;
  grid-template-columns: 120px 10fr 6fr;
  align-items: start;
  font-family: HelsinkiGrotesk-Medium, Arial, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;

  &.time-span-preview-description {
    font-family: HelsinkiGrotesk-Regular, Arial, sans-serif;
  }
}

.opening-hours-preview-time-span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.opening-hours-preview-time-span__time {
  flex: 1;
  letter-spacing: 1px;
}

.opening-hours-preview-time-span__time--end {
  text-align: right;
}
