@import 'node_modules/hds-design-tokens/lib/all.scss';

.weekdays-container {
  align-items: flex-end;
  display: flex;
}

.weekdays {
  display: flex;
}

.weekdays-state-toggle {
  margin-left: var(--spacing-xl);
}

@keyframes dropIn {
  from {
    margin-top: -50px;
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.opening-hours-container--drop-in {
  animation-name: dropIn;
  animation-duration: 0.5s;
}

.opening-hours-container {
  align-items: flex-start;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  padding: 2rem;
}

.alternating-opening-hour-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.fullday-checkbox-container {
  padding-bottom: 1rem;
}

.opening-hours-page {
  display: flex;
  gap: 10px;
}

.opening-hours-page__title {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  left: 0;
  padding: 1rem 2rem;
  position: sticky;
  right: 0;
  top: 2px;
  z-index: 100;
}

.opening-hours-page__actions {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
}

.opening-hours-state-select {
  min-width: 240px;
}

.opening-hours-and-details-container {
  align-items: flex-end;
  display: grid;
  grid-template-columns: 1fr 70px 1fr 1fr;
  gap: 20px;
}

.opening-hours-time-span {
  align-items: flex-end;
  display: flex;
  gap: 30px;
}

.opening-hours-time-span__range {
  display: flex;
  align-items: center;
  gap: 5px;
}

.opening-hours-time-span__range-divider {
  margin-top: 1.5rem;
}

.opening-hours-time-span__description-container {
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
}

.link-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0.75rem 0;
  text-decoration: underline;
}

.opening-hours-form {
  background: #fff;
}

.opening-hours-actions-container {
  display: flex;
  align-items: center;
}

.opening-hour-forms-required-help-text {
  font-size: 1rem;
  margin: 0;
  padding: 1rem 0 0 0;
}

.asterisk {
  font-weight: bold;
}
