@import 'node_modules/hds-design-tokens/lib/all.scss';

.time-span {
  align-items: flex-end;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: max-content;
}

@media screen and (min-width: $breakpoint-s) {
  .time-span {
    grid-template-columns: auto 70px 1fr 1fr;
  }
}

.remove-time-span-button {
  grid-column: 1/3;
  margin-left: -25px;
}

@media screen and (min-width: $breakpoint-m) {
  .remove-time-span-button {
    margin-left: revert;
  }
}

.time-span__descriptions {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $breakpoint-m) {
  .time-span__descriptions {
    flex-direction: row;
  }

  .time-span__descriptions > * {
    flex: 1;
  }
}

.time-span--with-extra-fields {
  @extend .time-span;

  & > .time-span__descriptions {
    gap: $spacing-m;
    grid-column: 1/3;
    order: 1;
  }

  @media screen and (min-width: $breakpoint-m) {
    & > .time-span__descriptions {
      grid-column: 1/5;
      order: 2;
    }
  }

  & > .remove-time-span-button {
    order: 2;
  }

  @media screen and (min-width: $breakpoint-m) {
    & > .remove-time-span-button {
      order: 1;
    }
  }
}

.time-span__range {
  display: flex;
  align-items: center;
  gap: 5px;
  grid-column: 1/3;
}

@media screen and (min-width: $breakpoint-m) {
  .time-span__range {
    grid-column: auto;
  }
}

.time-span__range-divider {
  margin-top: 1.5rem;
}

.time-span__resource-state-select {
  width: 265px;
}

.time-span__full-day-checkbox-container {
  display: flex;
  justify-content: center;
}

.time-span__full-day-checkbox {
  padding-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-m) {
  .remove-time-span-button {
    grid-column: auto;
  }
}

.time-span__full-day-checkbox-container--hidden,
.time-span__range--hidden {
  display: none;
}

@media screen and (min-width: $breakpoint-l) {
  .time-span__full-day-checkbox-container--hidden,
  .time-span__range--hidden {
    opacity: 0;
  }
}
